{% extends "base.html" %}
{% block title %}The Builders{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <br><h1 style="width:100%;rem;text-align: center">The Builders</h1>
        <br><h2 style="width:100%;font-size: 1.5rem;text-align: left;padding:inherit">
            These are some of the people responsible for the design and construction of the early Internet. Without
            their hard work and vision, you wouldn’t be reading this right now!
        </h2><br>

        <div class="container">

            <div class="row mt-3">
                <div class="col-4">
                    <h1>
                        Paul Baran
                    </h1>
                    <img src="{{ url_for('static', filename='images/baran.jpg') }}"
                         alt="jpg picture of Paul Baran">
                    <br><br><p>
                        In a quest to design a communications system that would survive an enemy attack better than the
                        centralized telephone network, Paul A. Baran theorized a “distributed packet-switched” network.
                        In 1964, as a RAND Corporation researcher, Baran published papers describing a detailed
                        architecture for the distributed digital communications network that later became the modern
                        Internet.
                    </p><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <h1>
                        Tim Berners-Lee
                    </h1>
                    <img src="{{ url_for('static', filename='images/lee.jpg') }}"
                         alt="jpg picture of Tim Berners-Lee">
                    <p>
                        A physicist and computer scientist, Timothy John Berners-Lee worked at CERN, , the European
                        Organization for Nuclear Research. In 1989, he invented the World Wide Web, a project using
                        hypertext to facilitate information sharing on a network. Berners-Lee is the director of W3C,
                        the World Wide Web Consortium, a standards setting organization for the Web's continued
                        development.
                    </p><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <h1>
                        Vint Cerf
                    </h1>
                    <img src="{{ url_for('static', filename='images/cerf.jpg') }}"
                         alt="jpg picture of Vint Cerf">
                    <p>
                        Along with Bob Kahn, Vinton G. Cerf is considered one of the “fathers of the Internet”. The two
                        partners came up with the TCP/IP protocol in 1974, working on Leonard Kleinrock's networking
                        group connecting the first two nodes of ARPAnet. Cerf also helped form the Internet Society and
                        ICANN (Internet Corporation for Assigned Names and Numbers).
                    </p><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <h1>
                        Bob Kahn
                    </h1>
                    <img src="{{ url_for('static', filename='images/kahn.jpg') }}"
                         alt="jpg picture of Bob Kahn">
                    <p>
                        In 1974, Robert E. Kahn invented the TCP/IP protocols along with his partner Vint Cerf. Both
                        helped develop ARPAnet, and extended that knowledge to LANs, WANs and other connected networks.
                        In 1983, TCP/IP was adopted as the common communication protocol for the Internet.
                    </p><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <h1>
                        Leonard Kleinrock
                    </h1>
                    <img src="{{ url_for('static', filename='images/kleinrock.jpg') }}"
                         alt="jpg picture of Leonard Kleinrock">
                    <p>
                        In 1961, Leonard Kleinrock introduced queuing theory for data packets. Demand access and
                        distributed control. Working at UCLA, he oversaw a team that connected the first node to ARPAnet
                        in 1969. His work on packet-switched networks became central to how the Internet operates.
                    </p><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <h1>
                        JCR Licklider
                    </h1>
                    <img src="{{ url_for('static', filename='images/licklider.jpg') }}"
                         alt="jpg picture of JCR Licklider">
                    <p>
                        Joseph Carl Robnett Licklider was a psychologist and professor at MIT in the 1950s. In 1962, he
                        developed the idea of a global digital network in a series of papers describing the
                        “Intergalactic Computer Network.” He worked at ARPA (Advanced Research Projects Agency), and
                        provided inspiration and guidance for ARPAnet.
                    </p><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <h1>
                        Robert Metcalfe
                    </h1>
                    <img src="{{ url_for('static', filename='images/metcalfe.jpg') }}"
                         alt="jpg picture of Robert Metcalfe">
                    <p>
                        Robert Melancton Metcalfe is considered the inventor of Ethernet and was a founder of 3Com. He
                        worked on ARPAnet at MIT and later served as a researcher at Xerow PARC (Palo Alto Research
                        Center). His 1972 pamphlet, Scenarios for the ARPAnet, imagined a variety of new network
                        applications, including games, mathematics, and remote jobs. Metcalfe's law postulated that the
                        value of a network grows as the square of the number of its users.
                    </p><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <h1>
                        Larry Roberts
                    </h1>
                    <img src="{{ url_for('static', filename='images/roberts.jpg') }}"
                         alt="jpg picture of Larry Roberts">
                    <p>
                        Lawrence G. Roberts was a program manager at ARPA (Advanced Research Projects Agency), where he
                        worked on Paul Baran’s idea for ARPAnet, the first distributed packet switched network. He later
                        became CEO of Telenet, the first data network utility.
                    </p><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <h1>
                        Bob Taylor
                    </h1>
                    <img src="{{ url_for('static', filename='images/taylor.jpg') }}"
                         alt="jpg picture of Bob Taylor">
                    <p>
                        Robert W. Taylor was a director of Information Processing at ARPA, the Advanced Research
                        Projects Agency. In 1969, Taylor convinced the agency to construct a distributed computer
                        network. ARPAnet, as it was known, was the grandfather of the Internet. Taylor later founded the
                        Computer Science Laboratory of Xerox PARC (Palo Alto Research Center).
                    </p><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <h1>
                        Ray Tomlinson
                    </h1>
                    <img src="{{ url_for('static', filename='images/tomlinson.jpg') }}"
                         alt="jpg picture of Ray Tomlinson">
                    <p>
                        Raymond Samuel Tomlinson was the computer programmer who invented email. His employer, Bolt,
                        Beranek and Newman, worked on projects for ARPAnet, the predecessor of the Internet. In 1971, he
                        sent the first email, including an “@” symbol to designate an address, to another computer
                        across the room.
                    </p><br><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}