{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}

    <!-- TEMPLATE Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                                       src="{{ url_for('static', filename='images/njit-logo.png') }}" alt="NJIT logo"/>
            </div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">The Python Calculator</h1>
                <p>This is a web-based calculator project.
                    It is programmed in Python and delivered over html using standard Bootstrap components.</p>
                <a class="btn btn-primary" href="/calculator">Calculate!</a>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body"><p class="text-white m-0">Welcome to the Python Calculator!</p></div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">The Web Calculator</h2>
                        <p class="card-text">Try the Web Calculator. Free for the first 90 days.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="/calculator">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Object Oriented Programming</h2>
                        <p class="card-text">Learn the fundamental concepts of Object Oriented Programming.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="/oop">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">History of the Internet</h2>
                        <p class="card-text">Learn about the important people and events of the early Internet</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#">More Info</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}