{% extends "base.html" %}
{% block title %}Viewable Table{% endblock %}

{% block content %}
    <h1>Calculations Table</h1>

    <table id="data" class="table table-striped">

    <thead>
        <tr>
            <th>Value 1</th>
            <th>Value 2</th>
            <th>Value 3</th>
            <th>Operation</th>
            <th>Answer</th>
        </tr>
        </thead>
    <tbody>
    {% for row in row_data %}
        <tr>
            {% for col, row in zip(cols, row) %}
            <td>{{ row|safe }}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns:
            [
                {searchable: true, orderable: true},
                {searchable: false},
                {searchable: false},
                {searchable: false},
                null,
                null
            ],
      });
    });
  </script>
{% endblock %}
