{% extends "base.html" %}
{% block title %}Output Table{% endblock %}

{% block content %}
    <h1>Sample Table Rendering</h1>

    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <!-- Need to assign Table Headers to CSV Dict-->
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}